*Ca/
config/
crypto-config/
log.txt
configtx.yaml
client/ca.crt
client/connection-org.json
client/connections.yml
client/dist/
client/node_modules/
client/package-lock.json
client/tls-cert.pem
client/wallet/